.App {
	text-align: center;
    height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* style */

header{
    padding: 0.3rem 1rem;
    background-color: #121212;
    color: #fff;


    display:flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    display: flex;
}

.header-share{
    justify-content: space-around;
    align-items: center; 
}

.header-share div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 0 1rem;
    margin-right: 1rem;
}

.header-share div:hover{
    cursor: pointer;
}